{{nav-bar isExpanded=showingNavBar expand='toggleNavBar'}}

<div class={{wrapperClasses}}>
  {{outlet}}
</div>

<footer>
  {{#link-to "about"}}<i class="icon-info"></i> About HN Reader{{/link-to}}
</footer>
