<div class="app-bar">
  <h2>{{filterName}}</h2>
</div>

<div class="app-sidebar app-panel">
  <ol class="stories">
    {{#each stories as |story|}}
      {{story-card tagName="li" story=story}}
    {{/each}}
  </ol>
</div>

<div class={{contentClasses}}>
  {{outlet}}
</div>
